# Aptos / Shelby (get testnet keys from https://aptos.dev, Shelby Discord)
NEXT_PUBLIC_APTOS_NETWORK=testnet
NEXT_PUBLIC_SHELBY_API_KEY=your_shelby_api_key
NEXT_PUBLIC_APTOS_API_KEY=your_aptos_api_key
